{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-around flex-wrap">
            <div class="card" style="width: 450px; margin-top: 50px">
                <div class="card-header">
                    Créé le {{ article.getDate|date("d/m/Y") }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ article.getTitre }}</h5>
                    <p class="card-text">{{ article.getContenu }}</p>
                    <a href="{{path('show_all_articles')}}" class="btn btn-primary">Back to list</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}